body {
  padding: 20px;
}

#tweet-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.tweet {
  width: 500px;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

svg, .css-9pa8cd  {
  height: 20px;
  width: auto;
}

.css-901oao * {
  display: inline;
}

.css-1dbjc4n * {
  display: inline;
}

.r-4iw3lz {
  display: none;
}

.r-156q2ks {
  width: 90%;
  border: 1px solid black;
}

.r-1joea0r {
  display: none;
}

.r-18u37iz.r-dnmrzs {
  font-weight: bold;
}
